
@media (max-width: 1680px){
    .subscribe-sm{
        display: none;
    }
    header{
        top: 69px;
        
    }
    .container{
        max-width: 1330px;
        
    }
    .hero{
        height: 460px;
       
    }
    
}
@media (max-width: 1366px){
    .hero{
        height: 400px;
    }
    .container{
        max-width: 1200px;
        
    }
    footer{

    
    .middle-footer{
        .container{

        
        .row{

        
        .subscribe{
            width: 490px;
            input[type="email"] {
                width: 358px;
                padding: 0 26px;
            }
            input[type="submit"] {
                width: 132px;
            }
        }
    }
}
}
}
}
@media (max-width: 1240px){
    
    .container{
        max-width: 1000px;
        
    }
    footer{

    
    .middle-footer{
        .container{

       
            .row {
                .footer-col{
        .subscribe{
            width: 414px;
             input[type="email"] {
                width: 292px;
                padding: 0 22px;
            }
            input[type="submit"] {
                width: 122px;
            }
        }
    }
}
        }
    }
}
}
@media (max-width: 1024px){
    header{
        .menu-btn{
            margin-left: 22px;
        }
        .right-col{
            .langs{
                padding-left: 34px;
                margin-left: 34px;
            }
        }
    }
    .hero{
        height: 360px;
    }
    .container{
        max-width: 950px;
    }
    
}
@media (max-width: 991px){

    .container{
        max-width: 755px;
    }
    footer{

    
    .middle-footer{
        height: 274px;
        .container{

       
            .row {
                height: 274px;
                
                .footer-col{
                    width: 100%;
                    justify-content: center;
                    &:nth-child(1){
                        order: 3;
                    }
                    &:nth-child(2){
                        order: 2;
                    }
                    &:nth-child(3){
                        order: 1;
                    }
                .subscribe{
                    // top: 34px;
                    width: 540px;
                    input[type="email"] {
                        width: 390px;
                        padding: 0 32px;
                    }
                    input[type="submit"] {
                    width: 150px;
            }
            }
    }
    }
}
.socials{
    a{
    margin: 14px 14px 0 14px;
    }
    span{
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
}
.footer-logo{
    width: 62px;
}
    }
}  
    
}
@media (max-width: 768px){
   
    header{
        .phone{
            display: none;
        }
        .right-col{
            .langs{
                display: none ;
            }
        }
        .logo{
            .img{
                img{
                    width: 56px;
                }
            }
            .menu-btn{
                margin-left: 0;
                margin-right: 13px;
                margin-top: 6px;
            }
    }
    .hero{
        height: 300px;
    }
    
   
        .txt{
            .img-title-top{
                width: 84px;
            }
            .img-title-bottom{
                width: 84px;
               
            }
        }
    }
    .container{
        max-width: 550px;
    }
    footer{
    margin-top: -340px;
    padding-top: 380px;
    position: relative;
    
    .footer-menu{
        display: none ;
    }
    .middle-footer{
        .container{

       
        .row {
            justify-content: center;
            .footer-col{
                width: 100%;
                
                .subscribe{
                    display: none;
                    }   
                }
            }
        }
       
    }
    .bottom-footer{
        .row{
            .footer-col{
                width: 100%;
                justify-content: center;
                margin: 10px 0;
                &:nth-child(1){
                    justify-content: center;
                    order: 2;
                }
                &:nth-child(2){
                    justify-content: center;
                    order: 1;
                }
                &:nth-child(3){
                    justify-content: center;
                    order: 3;
                }
            }
        }
    }
    }
    .subscribe-sm{
        @include flexAlignCenter();
    }
 
}



@media (max-width: 530px){
   
    .container{
        max-width: 345px;
    }
}
@media (max-width: 375px){
    .hero{
        height: 330px;
    }
    .container{
        max-width: 345px;
    }
}