* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ceebec;
}

body:lang(ka) {
  font-family: "BPGnp";
}

.momma-div {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f4f5f5;
}

header {
  position: absolute;
  display: block;
  top: 69px;
  width: 100%;
  z-index: 10;
}

header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left-col a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left-col .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  /* top: 4px; */
  margin-left: 34px;
  padding-left: 34px;
}

header .left-col .phone span {
  display: inline-block;
  margin-top: 10px;
}

header .left-col .phone i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 3px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .left-col .phone:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.47);
  height: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .right-col a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right-col .langs a {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 255, 255, 0.47);
  font-size: 12px;
  font-weight: 400;
  margin: 0 4px;
  position: relative;
  letter-spacing: .3px;
}

header .right-col .langs a:not(:last-child):before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.47);
  position: absolute;
  right: -7px;
  top: 6px;
  border-radius: 50%;
}

header .right-col .langs a.active {
  color: white;
}

header .logo .txt {
  display: inline-block;
  margin-left: 8px;
}

header .logo .txt .img-title-bottom {
  width: 94px;
  overflow: hidden;
}

header .logo .txt .img-title-bottom img {
  display: block;
  width: 100%;
  padding-top: 3px;
}

header .logo .txt .img-title-top {
  width: 95px;
  overflow: hidden;
}

header .logo .txt .img-title-top img {
  display: block;
  width: 100%;
  padding-bottom: 3px;
}

header .logo .img {
  display: inline-block;
}

header .logo .img img {
  display: block;
  width: 69px;
}

header .menu-btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #ceebec;
  border-radius: 50%;
  margin-left: 36px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

header .menu-btn .line {
  position: absolute;
  width: 12px;
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
}

header .menu-btn .line span {
  display: inline-block;
  background-color: #005953;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .menu-btn .exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

header .menu-btn .exit:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 12px;
  height: 2px;
  background-color: #005953;
}

header .menu-btn .exit:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 12px;
  height: 2px;
  background-color: #005953;
}

header .menu-btn .line:nth-child(1) {
  top: 17px;
}

header .menu-btn .line:nth-child(1) {
  top: 23px;
}

.container {
  position: relative;
  width: 1560px;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 460px;
}

.hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./img/5a8d679a2293e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .blue-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-image: -webkit-gradient(linear, right top, left top, from(#005956), to(#0e4e8c));
  background-image: linear-gradient(to left, #005956 0%, #0e4e8c 100%);
}

.hero .clipper1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #f4f5f5;
  border-width: 220px 0px 0px 1920px;
}

.hero .clipper2 {
  position: absolute;
  bottom: -1px;
  right: 0;
}

.lorem {
  font-size: 80px;
  text-align: center;
  margin: 400px auto;
}

footer {
  position: relative;
  display: block;
  background-color: #f4f5f5;
  margin-top: -160px;
  padding-top: 200px;
}

footer .clipper1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #f4f5f5 transparent;
  border-width: 0px 0px 160px 1920px;
}

footer .clipper2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

footer .footer-menu {
  padding-bottom: 230px;
}

footer .footer-menu .footer-col {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 15px;
  width: 25%;
}

footer .footer-menu .footer-col .head {
  border-bottom: 1px solid #ceebec;
}

footer .footer-menu .footer-col .head h3 {
  font-family: "bpg-nino-mtavruli-bold";
  font-size: 20px;
  color: #000;
  margin-bottom: 7px;
  font-weight: 400;
  margin: 0;
}

footer .footer-menu .footer-col .box {
  padding-top: 12px;
  display: block;
  background-color: #f4f5f5;
}

footer .footer-menu .footer-col .box a {
  display: inline-block;
  position: relative;
  margin: 4px 0;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  -webkit-transition: color .5s;
  transition: color .5s;
}

footer .footer-menu .footer-col .box a:before {
  content: '';
  position: absolute;
  left: -12px;
  right: -12px;
  top: -1px;
  bottom: -4px;
  background-color: #005953;
  border-radius: 50px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

footer .footer-menu .footer-col .box a:hover span {
  color: #fff;
}

footer .footer-menu .footer-col .box a:hover:before {
  opacity: 1;
}

footer .footer-menu .footer-col .box a span {
  position: relative;
  color: #333333;
}

footer .middle-footer {
  position: relative;
  height: 190px;
}

footer .middle-footer .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1920px;
  background-image: url("./img/menu-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer .middle-footer .bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 89, 86, 0.9);
}

footer .middle-footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 190px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .middle-footer .container .row .footer-col {
  position: relative;
  min-height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .middle-footer .container .row .footer-col .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 570px;
  height: 56px;
}

footer .middle-footer .container .row .footer-col .subscribe input[type="email"] {
  position: absolute;
  left: 0;
  border: 0;
  background-color: transparent;
  height: 100%;
  width: 423px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 36px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

footer .middle-footer .container .row .footer-col .subscribe input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .middle-footer .container .row .footer-col .subscribe input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .middle-footer .container .row .footer-col .subscribe input[type="email"]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .middle-footer .container .row .footer-col .subscribe input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .middle-footer .container .row .footer-col .subscribe input[type="submit"] {
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  height: 100%;
  width: 147px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 500;
  color: #fff;
  -webkit-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
}

footer .middle-footer .container .row .footer-col .subscribe input[type="submit"]:hover {
  background-color: #fff;
  color: rgba(0, 89, 86, 0.9);
}

footer .middle-footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
}

footer .middle-footer .footer-logo img {
  width: 100%;
}

footer .middle-footer .socials {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .middle-footer .socials span {
  color: #fff;
  opacity: .7;
  font-size: 14px;
}

footer .middle-footer .socials a {
  color: #fff;
  opacity: .4;
  font-size: 20px;
  margin-left: 28px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

footer .middle-footer .socials a:hover {
  opacity: 1;
}

footer .subscribe-sm {
  height: 56px;
  width: 290px;
  position: relative;
}

footer .subscribe-sm input {
  font: inherit;
  margin: 0;
}

footer .subscribe-sm input[type="email"] {
  position: absolute;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: 218px;
  padding: 0px 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

footer .subscribe-sm input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .subscribe-sm input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .subscribe-sm input[type="email"]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .subscribe-sm input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

footer .subscribe-sm input[type="submit"] {
  position: absolute;
  right: 0;
  background-color: transparent;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  width: 72px;
  -webkit-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
}

footer .subscribe-sm input[type="submit"]:hover {
  background-color: #fff;
  color: rgba(0, 89, 86, 0.9);
}

footer .bottom-footer {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .bottom-footer .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bottom-footer .row .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom-footer .row .footer-col:nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .bottom-footer .row .footer-col i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  color: #015a58;
}

footer .bottom-footer .row .footer-col .phone {
  display: inline-block;
  color: black;
}

footer .bottom-footer .row .footer-col .phone span {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

footer .bottom-footer .row .footer-col .copyright {
  font-size: 14px;
  color: #000;
}

@media (max-width: 1680px) {
  .subscribe-sm {
    display: none;
  }
  header {
    top: 69px;
  }
  .container {
    max-width: 1330px;
  }
  .hero {
    height: 460px;
  }
}

@media (max-width: 1366px) {
  .hero {
    height: 400px;
  }
  .container {
    max-width: 1200px;
  }
  footer .middle-footer .container .row .subscribe {
    width: 490px;
  }
  footer .middle-footer .container .row .subscribe input[type="email"] {
    width: 358px;
    padding: 0 26px;
  }
  footer .middle-footer .container .row .subscribe input[type="submit"] {
    width: 132px;
  }
}

@media (max-width: 1240px) {
  .container {
    max-width: 1000px;
  }
  footer .middle-footer .container .row .footer-col .subscribe {
    width: 414px;
  }
  footer .middle-footer .container .row .footer-col .subscribe input[type="email"] {
    width: 292px;
    padding: 0 22px;
  }
  footer .middle-footer .container .row .footer-col .subscribe input[type="submit"] {
    width: 122px;
  }
}

@media (max-width: 1024px) {
  header .menu-btn {
    margin-left: 22px;
  }
  header .right-col .langs {
    padding-left: 34px;
    margin-left: 34px;
  }
  .hero {
    height: 360px;
  }
  .container {
    max-width: 950px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 755px;
  }
  footer .middle-footer {
    height: 274px;
  }
  footer .middle-footer .container .row {
    height: 274px;
  }
  footer .middle-footer .container .row .footer-col {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .middle-footer .container .row .footer-col:nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .middle-footer .container .row .footer-col:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .middle-footer .container .row .footer-col:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .middle-footer .container .row .footer-col .subscribe {
    width: 540px;
  }
  footer .middle-footer .container .row .footer-col .subscribe input[type="email"] {
    width: 390px;
    padding: 0 32px;
  }
  footer .middle-footer .container .row .footer-col .subscribe input[type="submit"] {
    width: 150px;
  }
  footer .middle-footer .socials a {
    margin: 14px 14px 0 14px;
  }
  footer .middle-footer .socials span {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  footer .middle-footer .footer-logo {
    width: 62px;
  }
}

@media (max-width: 768px) {
  header .phone {
    display: none;
  }
  header .right-col .langs {
    display: none;
  }
  header .logo .img img {
    width: 56px;
  }
  header .logo .menu-btn {
    margin-left: 0;
    margin-right: 13px;
    margin-top: 6px;
  }
  header .hero {
    height: 300px;
  }
  header .txt .img-title-top {
    width: 84px;
  }
  header .txt .img-title-bottom {
    width: 84px;
  }
  .container {
    max-width: 550px;
  }
  footer {
    margin-top: -340px;
    padding-top: 380px;
    position: relative;
  }
  footer .footer-menu {
    display: none;
  }
  footer .middle-footer .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .middle-footer .container .row .footer-col {
    width: 100%;
  }
  footer .middle-footer .container .row .footer-col .subscribe {
    display: none;
  }
  footer .bottom-footer .row .footer-col {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0;
  }
  footer .bottom-footer .row .footer-col:nth-child(1) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .bottom-footer .row .footer-col:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .bottom-footer .row .footer-col:nth-child(3) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .subscribe-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 345px;
  }
}

@media (max-width: 375px) {
  .hero {
    height: 330px;
  }
  .container {
    max-width: 345px;
  }
}

@font-face {
  font-family: "BPGnp";
  font-weight: normal;
  font-style: normal;
  src: url(./fonts/BPGnp.woff);
}

@font-face {
  font-family: "bpg-nino-mtavruli-bold";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/bpg-nino-mtavruli-bold-webfont.woff);
}
/*# sourceMappingURL=index.css.map */