@mixin flexAlignCenter{
    display: flex;
    align-items: center;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
// a{
//     display: inline-block;
//     text-decoration: none;
//     background-color: transparent;
//     color: #000;
// }

a{
    text-decoration: none;
}
body{
    background-color:#ceebec;
}
body:lang(ka) {
    font-family: "BPGnp";
}
.momma-div{
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #f4f5f5;
    
}

header{
    position: absolute;
    display: block;
    top: 69px;
    width: 100%;
    z-index: 10;
    .row{
        @include flexAlignCenter();
        justify-content: space-between;
    }
    .left-col{
        @include flexAlignCenter();
        a{
        @include flexAlignCenter();
        }
        
        .phone{
            @include flexAlignCenter();
            color: #fff;
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 400;
            position: relative;
            /* top: 4px; */
            margin-left: 34px;
            padding-left: 34px;
            span{
                display: inline-block;
                margin-top: 10px;
            }
            i{
                display: flex;
                font-size: 20px;
                margin-right: 10px;
                position: relative;
                top: 3px;
                transform: rotate(90deg);
               
            }
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                background-color: rgba(255, 255, 255, .47);
                height: 32px;
                transform: translateY(-50%);
               
            
            }
        }
    }
    .right-col{
        @include flexAlignCenter();
        justify-content: flex-end;
        a{
        @include flexAlignCenter();
        }
        .langs{
            a{
                display: inline-block;
                text-decoration: none;
                background-color: transparent;
                font-family: 'Ubuntu', sans-serif;
                color: rgba(255, 255, 255, .47);
                font-size: 12px;
                font-weight: 400;
                margin: 0 4px;
                position: relative;
                letter-spacing: .3px;
              
            }
            a:not(:last-child){
                &:before{
                    content: '';
                    width: 3px;
                    height: 3px;
                    background-color: rgba(255, 255, 255, .47);
                    position: absolute;
                    right: -7px;
                    top: 6px;
                    border-radius: 50%;
                }
            }
            a.active{
            color: rgba(255, 255, 255, 1);
            }
        }
    }
    .logo{
        .txt{
            display: inline-block;
            margin-left: 8px;
            .img-title-bottom{
                width: 94px;
                overflow: hidden;
                img{
                    display: block;
                    width: 100%;
                    padding-top: 3px;
                }
            }
            .img-title-top{
                width: 95px;
                overflow: hidden;
                img{
                    display: block;
                    width: 100%;
                    padding-bottom: 3px;
                }
            }
        }
        .img{
            display: inline-block;
            img{
            display: block;
            width: 69px;
            }
        }
    }
    .menu-btn{
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #ceebec;
    border-radius: 50%;
    margin-left: 36px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    // margin-top: 10px;
    .line{
    position: absolute;
    width: 12px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    span{
    display: inline-block;
    background-color: #005953;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    }
    }
    // .circle{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin: auto;
    // width: 0;
    // height: 0;
    // border: 14px solid #005953;
    // border-radius: 50%;
    // animation: circle 4s infinite;
    // }
    .exit{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    &:before{
        content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 12px;
    height: 2px;
    background-color: #005953;
    }
    &:after{
        content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 12px;
    height: 2px;
    background-color: #005953;
    }
    }
    .line:nth-child(1){
        top: 17px;
    }
    .line:nth-child(1){
        top: 23px;
    }
    }
}

.container{
    position: relative;
    width: 1560px;
    margin: 0 auto; 
}



.hero{
    position: relative;
    height: 460px;
    
    

    .bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./img/5a8d679a2293e.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .blue-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background-image: linear-gradient(to left, #005956 0%, #0e4e8c 100%);
    }

    .clipper1{
        position: absolute;
        bottom: 0;
        right: 0;
      
        width: 0;
        height: 0;
        border-style: solid;
        // border-color: transparent transparent transparent #fff;
        border-color: transparent transparent transparent #f4f5f5;
        border-width: 220px 0px 0px 1920px;
        
    }
    .clipper2{
        position: absolute;
        bottom: -1px;
       
        right: 0;
    }
    
}
.lorem{
    font-size: 80px;
    text-align: center;
    margin: 400px auto;
}
footer{
    position: relative;
    display: block;
    background-color: #f4f5f5;
    margin-top: -160px;
    // background-color: #fff;
    padding-top: 200px;
    .clipper1{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #f4f5f5 transparent;
    border-width: 0px 0px 160px 1920px;
    }
    .clipper2{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    }
    .footer-menu {
        padding-bottom: 230px;
        .footer-col{
            position: relative;
            min-height: 1px;
            float: left;
            // padding-left: 15px;
            padding-right: 15px;
            width: 25%;
            .head{
                border-bottom: 1px solid #ceebec;
                h3{
                    font-family: "bpg-nino-mtavruli-bold";
                    font-size: 20px;
                    color: #000;
                    margin-bottom: 7px;
                    font-weight: 400;
                    margin: 0;
                }
            }
            .box{
                padding-top: 12px;
                display: block;
                background-color: #f4f5f5;
                a{
                    display: inline-block;
                    position: relative;
                    margin: 4px 0;
                    text-decoration: none;
                    background-color: transparent;
                    color: #000;
                    transition: color .5s;
                    &:before{
                        content: '';
                        position: absolute;
                        left: -12px;
                        right: -12px;
                        top: -1px;
                        bottom: -4px;
                        background-color: #005953;
                        border-radius: 50px;
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    &:hover{
                        span{
                            color: #fff;
                        }
                        
                        &:before{
                            opacity: 1;
                        }
                    }
                    span{
                    position: relative;
                    color: #333333;
                    }
                }
            }
        }
       
    }
    .middle-footer{
        position: relative;
        height: 190px;
        .bg{
            position: absolute;
            top: 0;
            bottom: 0;
       
            width: 1920px;
            background-image: url("./img/menu-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 89, 86, 0.9);
            }
        }
        .container{
            .row{
                @include flexAlignCenter();
                justify-content: space-between;
                height: 190px;
                flex-wrap: wrap;
                .footer-col{
                    position: relative;
                    min-height: 1px;
                    @include flexAlignCenter();
                   
                    .subscribe{
                        @include flexAlignCenter();
                        position: relative;
                        // display: inline-block;
                        width: 570px;
                        height: 56px;
                        // top: 70px;
                        
                        input[type="email"] {
                            position: absolute;
                            left: 0;
                            border: 0;
                            background-color: transparent;
                            height: 100%;
                            width: 423px;
                            border: 1px solid rgba(255, 255, 255, .3);
                            border-right: 0;
                            border-top-left-radius: 28px;
                            border-bottom-left-radius: 28px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            padding: 0 36px;
                            color: rgba(255, 255, 255, .7);
                            font-size: 14px;
                            &::placeholder{
                                color: rgba(255, 255, 255, 0.7);
                            }
                        }
                        input[type="submit"] {
                            position: absolute;
                            right: 0;
                            border: 0;
                            background-color: transparent;
                            height: 100%;
                            width: 147px;
                            cursor: pointer;
                            border: 1px solid rgba(255, 255, 255, .3);
                            border-top-right-radius: 28px;
                            border-bottom-right-radius: 28px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            font-weight: 500;
                            color: #fff;
                            transition: color .5s, background-color .5s;
                            &:hover{
                                background-color: #fff;
                                color:rgba(0, 89, 86, 0.9);
                            }
                         
                        }
                    }
                }
            }
        }
        .footer-logo{
            @include flexAlignCenter();
            // display: inline-block;
            width: 70px;
            // margin-top: 62px;
            img{
            // display: block;
            width: 100%;
            }
        }
        .socials{
            flex-wrap: wrap;
            span{
                
                color: #fff;
                opacity: .7;
                font-size: 14px;
                
            }
            a{
                color: #fff;
                opacity: .4;
                font-size: 20px;
                margin-left: 28px;
                transition: opacity .5s;
                &:hover{
                    opacity: 1;
                }
            }
        }
        }
        .subscribe-sm{
           
            height: 56px;
            width: 290px;
            position: relative;
            input{
                font: inherit;
                margin: 0;
            }
             input[type="email"] {
                position: absolute;
                left: 0;
                background-color: transparent;
                height: 100%;
                width: 218px;
                padding: 0px 24px;
                border: 1px solid rgba(255, 255, 255, .3);
                border-right: 0;
                border-top-left-radius: 28px;
                border-bottom-left-radius: 28px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                color: rgba(255, 255, 255, 0.7);
                font-size: 14px;
                &::placeholder{
                    color: rgba(255, 255, 255, 0.7);
                }
            }
            input[type="submit"] {
                position: absolute;
                right: 0;
                background-color: transparent;
                height: 100%;
                border: 1px solid rgba(255, 255, 255, .3);
                border-top-right-radius: 28px;
                border-bottom-right-radius: 28px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                color: rgba(255, 255, 255, .7);
                font-weight: 500;    
                width: 72px;
                transition: color .5s, background-color .5s;
               
                            &:hover{
                                background-color: #fff;
                                color:rgba(0, 89, 86, 0.9);
                            }
            }
        }
        .bottom-footer{
            margin-top: 25px;
            margin-bottom: 25px;
           .row{
               flex-wrap: wrap;
               @include flexAlignCenter();
               justify-content: space-between;
               .footer-col{
                   display: flex;
                   &:nth-child(3){
                       justify-content: flex-end;
                   }
                   i{
                       transform: rotate(90deg);
                       font-size: 20px;
                        margin-right: 10px;
                        position: relative;
                        // top: 3px;
                        color: #015a58;
                   }
                   .phone{
                    display: inline-block;
                    color: black;
                    span{
                    font-size: 14px;
                    color: #000;
                    font-weight: 500;
                    font-family: 'Ubuntu', sans-serif;
                    }
                   }
                   .copyright{
                    font-size: 14px;
                    color: #000;
                   }
               }
           }
        }
}
@import './media';
@font-face {
    font-family: "BPGnp";
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/BPGnp.woff);
  }
  @font-face {
    font-family: "bpg-nino-mtavruli-bold";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/bpg-nino-mtavruli-bold-webfont.woff);
  }